.grid-gallery {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery h2{
    margin-bottom: 1px;
 }

 .sub-gallery {
    color: var(--lakers-gold);
    margin-bottom: 1rem;
    font-size: 2.5rem;

}

.gallery-img {
    margin-bottom: 1rem;
    width: 100%;
    max-width: 32rem;
    max-height: 32rem;
    overflow: hidden;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform:translate(-3%, 3%) scale(1.2) rotate(5deg);
}