.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
    
}

.intro-text, .intro-img  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-bottom: 15rem;
}

.intro-img img{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    padding-left: 10rem;
    padding-top: 10rem;
}

.white-content {
    max-width: 64rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.white-content p {
    font-size: 2.5rem;
}



