:root {
    --primary-color: #0A1128;
    --white: #ffffff;
    --gap: 3rem;
    --light-gray-color: rgba(112, 111, 111, 0.233);
    --secondary-color: crimson;
    --lakers-purple: #552583;
    --lakers-gold: #FDB927;
}